<h1> User Login </h1>
  <%= form_tag('/user/abc')   %> 
 
    <div><%= flash[:notice] %></div>
  
      <p>
        <%= label_tag :email %><br />
        <%= text_field_tag :email %>
      </p>
      <p>
        <%= label_tag :password %><br />
        <%= password_field_tag :password %>
      </p>
<%= submit_tag "log in"%>
